*{
    margin: 0;
    padding: 0;
}
    .header{
    background-image: url("https://soymotor.com/sites/default/files/imagenes/noticia/bmw_x5_protection_vr6_1.jpg");
      
    min-height: 100vh;
        width: 100%;
        text-size-adjust: bold;

        background-position: center;
        background-size: cover;
        position: relative;
    }
    
    nav{
        display: flex;
        padding: 2% 15%;
        justify-content: space-between;
        align-items: center;
        font-size: x-large;
        background: rgba(0,0,0,0.3);
        
        
        
    }

       
        
        
    
    nav img{
        width: 150px;

    }
    .nav-links{
        flex: 1;
        text-align: left;
    
         }

         .nav-links ul li { 
            list-style: none;
            display: inline-block;
            padding: 8px 12px;
            position: relative;

        }
    
    .nav-links ul li a{ 
        color: #fff;
        text-decoration: none;
        font-size: 20px;
        

    }
    .nav-links ul li::after{
        content: '';
        width: 0%;
        height: 2px;
        background: #f44330;
        margin: auto;
        
        display: block;
        transition: 0.5s;

    }
    .nav-links ul li:hover::after{
        width: 100%;

    }
    .text-box{

     width: 90%;
        color: white;
        position:absolute
        
        
    }
     .text-box {
        padding-top: 30%;
        padding-left: 5%;
        font-size: 30px;
        list-style: none;
        color: white;
        
     }
     button {
        color: white;
     
        border: none;
        background-color: #0047ab;
        
    
    padding: 10px 50px;

     }
    h1 {
       
        margin: auto;
        text-align: center;
        padding-top: 100px;
        color: #777;
        display: inline;
        
          
           
     }
     .row{
        margin: 5%;
        display: flex;
        justify-content: space-between;


    

     }
      .img-car{
        width: 300px;
        }
       
        

        
     section h1 {
        display: center;
     }
     .logo {
        width: 60px;
    
        float: right;
        display: flex;
        justify-items: self-start;
        
        
       
    
     }
     .logo map{
        display: flex;
     }
     .car{
        width: 250px;
        
        box-sizing: border-box;
        border-radius: 12%;
        
       
     }
     .ha {
        color: white;
        font-size: large;

        
        
     }
     
     
     .card {
        width: 200px;
        height: 230px;
        display: inline-flex;
        border-radius: 10px;
        padding: 15px 25px;
        cursor: pointer;
        margin: 10px 15px;
        background-image: url("https://soymotor.com/sites/default/files/imagenes/noticia/bmw_x5_protection_vr6_1.jpg");
        background-position: center;
        background-size: cover;
     }
    
     .card h3 {
        color: white;
     }
     .card h4{
        color: white;
     }
     .card p{
        color: white;

     }
    section {
      background-color: #00deff;
      float: flex;
     }
     
     
     
     
    
        
       
      
     
     
     
     
    
    